<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_contacto.css">
    <script src="https://kit.fontawesome.com/a1124a3708.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/logo.jpg" type="image/x-icon">
    <title>CONTACTO</title>
</head>

<body>

            <footer id="footer">
                
                    <center>
                        <div id="redes">
                            <a href=""><i class="fa-brands fa-square-whatsapp"></i></a>
                            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-square-gmail"></i></a>
                        </div>
                        <aside id="sidebar">
                            <h4>UBICANOS</h4>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d124016.88528753654!2d100.534572!3d13.7470223!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e299184e929151%3A0x9320017f32c08e84!2sBoosey%20%26%20Hawkes%20Co.%2C%20Ltd!5e0!3m2!1sen!2sco!4v1743387131273!5m2!1sen!2sco"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <br>
                        </aside>
                    </center>
                    <div id="text-info">
                        <h2>contactanos</h2>
                        <h4>601 3186845</h4>
                        <h4>example@examnple.com</h4>
                        <h4>Pom Prap Sattru Phai, Bangkok 10100, Thailand</h4>
                        <h3>horarios: <h5>24/7</h5>
                            <h4>lunes, miercoles, viernes, domingos </h4>
                        </h3>
                    </div>
                </div>
            </footer>
        </div>
        
        <nav class="btn-pluss-wrapper">
            <h2 class="tooltip"></h2>
            <div href="#" class="btn-pluss">
                <ul>
                    <li><a href="../INDEX.html">INICIO</a></li>
                    <li><a href="./INSTRUMENTOS.html">INSTRUMENTOS</a></li>
                    <li><a href="./ACCESORIOS.html">ACCESORIOS</a></li>
                    <li><a href="./MAS_SOBRE.html">MAS SOBRE NOSOTROS</a></li>
                    <li><a href="./INICIO_SESION.html">INICIAR SESION</a></li>
                </ul>
            </div>
        </nav>

    </div>

</body>

</html>