<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_registro.css">
    <link rel="stylesheet" href="https://fontawesome.com/icons/user?f=classic&s=regular">
    <link rel="shortcut icon" href="../img/logo.jpg" type="image/x-icon">
    <title>REGISTRO</title>
</head>

<body>
    <main>
        <p>REGISTRO</p>
        <div class="formulario">
            <input type="text" class="formulario formulario-usuario" placeholder="usuario">
            <input type="password" class="formulario formulario-contraseña" placeholder="contraseña">
            <input type="password" class="formulario formulario-reafirme-contraseña" placeholder="repita la contraseña">
            <input type="datetime" class="formulario formulario-fecha-nacimiento" placeholder="fecha de nacimiento">
            <input type="checkbox" class="formulario formulario-terminos">
            <h1>acepto terminos y condiciones</h1>
        </div>
        <button class="entrar-button"> REGISTRAR</button>
    </main>
    <nav class="btn-pluss-wrapper">
        <h2 class="tooltip"></h2>
        <div href="#" class="btn-pluss">
            <ul>
                <li><a href="../INDEX.html">INICIO</a></li>
                <li><a href="./INSTRUMENTOS.html">INSTRUMENTOS</a></li>
                <li><a href="./ACCESORIOS.html">ACCESORIOS</a></li>
                <li><a href="./CONTACTO.html">CONTACTO</a></li>
                <li><a href="./MAS_SOBRE.html">MAS SOBRE NOSOTROS</a></li>ç
                <li><a href="./INICIO_SESION.html">INICIAR SESION</a></li>
            </ul>
        </div>
    </nav>
</body>

</html>