<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_inicio_sesion.css">
    <link rel="stylesheet" href="https://fontawesome.com/icons/user?f=classic&s=regular">
    <link rel="shortcut icon" href="../img/logo.jpg" type="image/x-icon">
    <title>INICIO DE SESION</title>
</head>

<body>
</body>
<main>
    <p>INICO <br>DE SESION</p>
    <div class="formulario">
        <input type="text" class="formulario formulario-usuario" placeholder="username">
        <input type="password" class="formulario formulario-contraseña" placeholder="password">
        <button class="entrar-button"> iniciar sesion</button>
    </div>
</main>
<nav class="btn-pluss-wrapper">
    <h2 class="tooltip"></h2>
    <div href="#" class="btn-pluss">
        <ul>
            <li><a href="../INDEX.html">INICIO</a></li>
            <li><a href="./INSTRUMENTOS.html">INSTRUMENTOS</a></li>
            <li><a href="./ACCESORIOS.html">ACCESORIOS</a></li>
            <li><a href="./CONTACTO.html">CONTACTO</a></li>
            <li><a href="./MAS_SOBRE.html">MAS SOBRE NOSOTROS</a></li>
            <li><a href="./CREAR_CUENTA.html">CREAR CUENTA</a></li>
        </ul>
    </div>
</nav>

</html>