<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_mas.css">
    <link rel="shortcut icon" href="../img/logo.jpg" type="image/x-icon">
    <title>MAS SOBRE MUSIC STORE</title>
</head>

<body>
    <section>
        <img src="../img/logo.jpg" alt="">
        <h2>TU EXPERIENCIA ES LA QUE CUENTA</h2>
        <h3>somos una tienda especializada en
            instrumentos musicales,
            sus accesorios o implementacion necesaria
            para poderse disfrutar adecuadamente
            mantenemos un margen estricto de calidad en cada uno de nuestros articulos
            por mas minimo que sea.
        </h3>
    </section>
    <nav class="btn-pluss-wrapper">
        <h2 class="tooltip"></h2>
        <div href="#" class="btn-pluss">
            <ul>
                <li><a href="../INDEX.html">INICIO</a></li>
                <li><a href="./INSTRUMENTOS.html">INSTRUMENTOS</a></li>
                <li><a href="./ACCESORIOS.html">ACCESORIOS</a></li>
                <li><a href="./INICIO_SESION.html">INICIAR SESION</a></li>
            </ul>
        </div>
    </nav>

</body>

</html>